# SPDX-License-Identifier: MIT

if BOARD_LOTUS58_BLE_LEFT

config ZMK_KEYBOARD_NAME
    default "Lotus58 BLE"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif # BOARD_LOTUS58_BLE_LEFT


if BOARD_LOTUS58_BLE_LEFT || BOARD_LOTUS58_BLE_RIGHT

config BOARD
    default "lotus58_ble"

config ZMK_SPLIT
    default y

config BT_CTLR
    default BT

if USB

config USB_NRFX
    default y

config USB_DEVICE_STACK
    default y

config ZMK_USB
    default y

endif # USB

# Uncomment the ZMK_DISPLAY and LVGL stuff to use the nice!view
# display. It may need some adjustment to correctly match the Lotus58
# BLE's actual hardware.

# config ZMK_DISPLAY
#     select LV_USE_CONT
#     select LV_FONT_MONTSERRAT_26
#     select LV_FONT_MONTSERRAT_16
#     select LV_USE_LABEL
#     select LV_USE_IMG

# choice ZMK_DISPLAY_STATUS_SCREEN
#     default ZMK_DISPLAY_STATUS_SCREEN_CUSTOM
# endchoice

# if ZMK_DISPLAY

# config SPI
#     default y

# config SPI_NRFX
#     default y

# endif # ZMK_DISPLAY

# if LVGL

# config LV_Z_VDB_SIZE
#     default 64

# config LV_DPI_DEF
#     default 148

# config LV_Z_BITS_PER_PIXEL
#     default 1

# choice LV_COLOR_DEPTH
#     default LV_COLOR_DEPTH_1
# endchoice

# endif # LVGL

endif # BOARD_LOTUS58_BLE_LEFT || BOARD_LOTUS58_BLE_RIGHT