# Copyright (c) 2024 Allister MacLeod
# SPDX-License-Identifier: MIT

CONFIG_SOC_SERIES_NRF52X=y
CONFIG_SOC_NRF52840_QIAA=y
CONFIG_BOARD_LOTUS58_BLE_LEFT=y

# Enable memory protection unit
CONFIG_ARM_MPU=y

# Enable pin control
CONFIG_PINCTRL=y

# Enable general purpose input/output
CONFIG_GPIO=y

# Uncomment these three lines to enable UART serial console.
# CONFIG_SERIAL=y
# CONFIG_CONSOLE=y
# CONFIG_UART_CONSOLE=y

CONFIG_USE_DT_CODE_PARTITION=y
CONFIG_BUILD_OUTPUT_UF2=y

# Enable writing to flash
CONFIG_MPU_ALLOW_FLASH_WRITE=y
CONFIG_NVS=y
CONFIG_SETTINGS_NVS=y
CONFIG_FLASH=y
CONFIG_FLASH_PAGE_LAYOUT=y
CONFIG_FLASH_MAP=y

# Enable Bluetooth
CONFIG_ZMK_BLE=y

# Enable universal serial bus
CONFIG_ZMK_USB=y